#ubication {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.ubication__image {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
}

.ubication__image img {
    width: 100%;
    object-fit: cover;
}
    
.ubitacion_places {
    position: relative;
    width: 100%;
    
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    margin-bottom: 50px;
    /* gap: 20px; */
}

.ubitacion_places h2{
    text-align: center;
    width: 100%;
}

.place_card {
    position: relative;
    width: 100%;
    height: 150px;
    background: linear-gradient(to right, var(--theme-degrad2) 50%, var(--theme-degrad1) 100%);

    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.place_card_image {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.place_card_image img{
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 10px;

}
.place_card_desc {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.ubitacion_places h2{
    color: var(--theme-font-header);
    margin-bottom: 30px;
}

.place_card_desc h3{
    color: white
}

.place_card_desc p{
    color: white;
}

@media (min-width: 760px) {
    .ubitacion_places {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .place_card {
        width: 45%;
    }

    #ubication .sub-header{
        width: 80%;
    }
}