@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{ 
    --theme: black;
    --theme-font: white;
    --theme-font-header: #003c8a;
    --theme-degrad1: #10003b;
    --theme-degrad2: #000;

    --color-test:#3b96ff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    background-color: var(--theme);
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #3a3afd;
}

body {
    max-height: 100vh;
    background-color: var(--theme);
}
h1, h2, h3, h4 {
    color: var(--theme-font);
}

.column {
    flex-direction: column;
}

.sub-header {
    color: var(--theme-font-header);
    text-align: center;
    margin-top: 10px;
    font-weight: 900;
}

.custom-button {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bold;

    position: relative;
    transition: .2s;
    color: #3a3afd;
}
.custom-button:hover {
    transform: scale(1.1);
    background-color: #2d2dff;
    color: white;
} 

.gradient-text {
    background-clip: text;
    -webkit-background-clip: text; /* Para compatibilidad con navegadores webkit */
    color: transparent;
    background-image: linear-gradient(to right, rgb(0, 255, 213), #0000ff);

}

section {
    min-height: 100vh;
    position: relative;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content {
    padding: 10px;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.section-title {
    position: relative;
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 900;
    /* color: var(--theme-font); */

    background-clip: text;
    -webkit-background-clip: text; /* Para compatibilidad con navegadores webkit */
    color: transparent;
    background-image: linear-gradient(to right, rgb(0, 255, 213), #0000ff);

}

.section-title::after {
    content: '';
    background: linear-gradient(90deg,rgb(0, 255, 213), blue);
    width: 50%;
    height: 10px;
    position: absolute;
    bottom: 10px;
    border-radius: 10px;
}


.w_button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background: linear-gradient(90deg,rgb(0, 255, 213), #2d2dff);
    border-radius: 50%;
    z-index: 100;
    box-shadow: 0px 0px 20px #000;
    cursor: pointer;

    animation: float 3s ease-in-out infinite;
    transition: .2s;
}

.w_button_logo{
    font-size: 40px;
    color: white;
}

.w_button:hover {
    border: 2px solid white;
    transition: .2s;
}

.contact_us {
    position: absolute;
    bottom: 80px;
    right: 0;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px #000;
    background-color: white;
    border-radius: 20px;
    animation: animate 3s ease;
}


.hidden {
    display: none;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);

    }
}

@keyframes animate {
    0% {
        transform: scale(0);
    }
    15%{
        transform: scale(1.25);
    }
    25% {
        transform: scale(1);
    }
    70%{
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.contact_us::after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 20px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-radius: 2px;
    background-color: white;
}

.leng {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg,rgb(0, 255, 213), #2d2dff);
    color: white;
    box-shadow: 0 0 10px #00000079;
    z-index: 100;
    border-radius: 50%;
    animation: float 3s ease-in-out infinite;
    cursor: pointer;
}
